/* These classes is for switching out the loading plot element */

.chart-container {
    position: relative;
    width: 100%;
    height: 60vh;
}

.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.plotly-chart {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none !important;
}