@page "/StudyDesignSelection"
@using Statistics.Components.Helpers
@using Statistics.Services

@inject NavigationManager NavigationManager
@inject GlobalAppState GlobalAppState;

<section>
    <article class="animate__animated animate__fadeIn">
        <section style="margin: 75px">
            <h3 class="componentHeaders">3. Identify your study design</h3>
            <p>
                To select the correct inferential statistical test for your SUS data, it's crucial to understand your study design. This determines the appropriate statistical test for your pre-defined hypothesis. Did you provide <strong>Dependent Samples</strong> (also known as paired samples or within-subject designs. In this case, each participant provides SUS scores for all conditions or time points being compared) or <strong>Independent Samples</strong> (also known as unpaired samples or between-subject design. Here, participants are exclusively in one group, providing a SUS score for only one condition)?
            </p>
            <div class="grid">
                <div>
                    <i>Examples of study designs with dependent samples:</i>
                    <ul>
                        <li>Measuring the system usability of a product before and after a user interface redesign with the same group of users.</li>
                        <li>Comparing SUS scores for two different user interfaces, with each participant evaluating both interfaces.</li>
                        <li>Assessing the usability of a software application across multiple stages of formative development, using the same test group.</li>
                        <li>Evaluating the impact of a software onboarding/training program by measuring SUS scores before and after the training.</li>
                        <li>Comparing the perceived usability of desktop and mobile versions of the same software, with each user testing both versions.</li>
                    </ul>
                    <br>
                </div>
                <div>
                    <i>Examples of study designs with independent samples:</i>
                    <ul>
                        <li>Comparing the system usability of a product between novice and expert users, where each user is categorized as either novice or expert.</li>
                        <li>Evaluating SUS scores between different products, with each participant assessing only one product.</li>
                        <li>Comparing the usability of a system across different demographic groups (e.g., age groups or professions), with each participant belonging to only one group.</li>
                        <li>Assessing the impact of different product onboarding methods by measuring SUS scores from separate groups, each experiencing a different onboarding process(A/B testing).</li>
                        <li>Comparing SUS scores between users of different versions of a software, where each user only interacts with one version (A/B testing).</li>
                    </ul>
                </div>
            </div>
        </section>
    </article>
    <div class="grid">
        <article class="animate__animated animate__fadeIn">
            <section>
                <h4 class="componentHeaders">Dependent samples</h4>
                <small>
                    Each participant provided SUS scores for all conditions or time points in your study. E.g. before-after studies, repeated measures, or when each subject evaluated multiple implementations/systems.
                </small>
            </section>
            <button class="navigationButton" @onclick="ProceedWithDependentSamples">
                These are dependent samples
            </button>
        </article>
        <article class="animate__animated animate__fadeIn">
            <section>
                <h4 class="componentHeaders">Independent samples</h4>
                <small>
                    Participants are in mutually exclusive groups, each providing a SUS score for only one condition. E.g. comparing SUS scores of distinct user groups, different products, or separate experimental conditions.
                </small>
            </section>
            <button class="navigationButton" @onclick="ProceedWithIndependentSamples">
                These are independent samples
            </button>
        </article>
    </div>
</section>

<ModalWindow @ref="_differentSampleSizesModal"
             Identifier="DifferentSampleSizesModal"
             Title="Different sample sizes detected!"
             Text="A dependent sample comparison inherently requires the same number of data points for each system/variable. Please check your data and ensure that you have the same number of data points for each variable."/>